* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, red-serif;
    background-image: url('codecode.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  
  
  header {
    background-color: red;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    animation: vgh 5s infinite;
  }
  @keyframes vgh {
    from {background-color: red;}
    to {background-color: blueviolet;}
  }
  
  
  nav {
    float: left;
    width: 30%;
    height: 300px; 
    background: #ccc;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: white;
    height: 300px;

  }
  
  
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    animation: mymove 5s infinite;
  }
  @keyframes mymove {
    from {background-color: red;}
    to {background-color: blueviolet;}
  }
  

  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
